tests/Amazon.StepFunction.Hosting.Tests/Resources/complex-spec.json
{
  "Comment": "A more complex example of the States language",
  "StartAt": "Step1",
  "States": {
    "Step1": {
      "Type": "Task",
      "Resource": "format-message",
      "Next": "Step2",
      "Retry": [
        {
          "ErrorEquals": [ "InvalidArgumentException", "SomeRandomException" ],
          "IntervalSeconds": 1,
          "MaxAttempts": 2,
          "BackoffRate": 2.0
        }
      ],
      "Catch": [
        {
          "ErrorEquals": [ "ArgumentOutOfRangeException" ],
          "ResultPath": "$.Details",
          "Next": "Step4"
        }
      ]
    },
    "Step2": {
      "Type": "Wait",
      "Seconds": 2,
      "Next": "Step3"
    },
    "Step3": {
      "Type": "Task",
      "Resource": "capitalize-message",
      "Next": "Step4"
    },
    "Step4": {
      "Type": "Task",
      "Resource": "print-message",
      "End": "true"
    }
  }
}